bin/
*.user
.vs/
# ignore obj only inside the named task folders (3-writeline, 4-print_integer, etc.)
csharp-hello_world/3-writeline/obj/
csharp-hello_world/4-print_integer/obj/
csharp-hello_world/5-print_float/obj/
csharp-hello_world/6-print_string/obj/
csharp-hello_world/7-concat/obj/
csharp-hello_world/8-print_variables/obj/
csharp-hello_world/9-print_specifiers/obj/
csharp-hello_world/10-copy_cut_paste/obj/
csharp-hello_world/11-concat_edges/obj/
csharp-arrays_lists_dictionaries/0-print_array/obj/
csharp-arrays_lists_dictionaries/1-element_at/obj/
csharp-arrays_lists_dictionaries/2-replace_element/obj/
csharp-arrays_lists_dictionaries/3-print_array_reverse/obj/
csharp-arrays_lists_dictionaries/4-print_list/obj/
csharp-arrays_lists_dictionaries/5-max_integer/obj/
csharp-arrays_lists_dictionaries/6-divisible_by_2/obj/
csharp-arrays_lists_dictionaries/7-delete_at/obj/
csharp-arrays_lists_dictionaries/8-number_keys/obj/
csharp-arrays_lists_dictionaries/9-add_key_value/obj/
csharp-arrays_lists_dictionaries/10-delete_key_value/obj/
csharp-arrays_lists_dictionaries/11-multiply_by_2/obj/
csharp-arrays_lists_dictionaries/12-print_sorted_dictionary/obj/
csharp-arrays_lists_dictionaries/13-best_score/obj/
csharp-arrays_lists_dictionaries/14-rectangular_array/obj/
csharp-arrays_lists_dictionaries/15-square_matrix/obj/
csharp-hashset_stack_queue_linkedlist/0-unique_add/obj/
csharp-hashset_stack_queue_linkedlist/1-common_elements/obj/
csharp-hashset_stack_queue_linkedlist/2-different_elements/obj/
csharp-hashset_stack_queue_linkedlist/3-stack_push_pop/obj/
csharp-hashset_stack_queue_linkedlist/4-queue_enqueue_dequeue/obj/
csharp-hashset_stack_queue_linkedlist/5-print_linkedlist/obj/
csharp-hashset_stack_queue_linkedlist/6-linkedlist_length/obj/
csharp-hashset_stack_queue_linkedlist/7-linkedlist_add/obj/
csharp-hashset_stack_queue_linkedlist/8-linkedlist_find/obj/
csharp-hashset_stack_queue_linkedlist/9-linkedlist_pop/obj/
csharp-hashset_stack_queue_linkedlist/10-linkedlist_get_node/obj/
csharp-hashset_stack_queue_linkedlist/11-linkedlist_sum/obj/
csharp-hashset_stack_queue_linkedlist/12-linkedlist_insert/obj/
csharp-hashset_stack_queue_linkedlist/13-linkedlist_delete/obj/
